<style type="text/css">
.font-size-micro {
	font-size: 0.7em;
	font-color:gray;
}
.font-size-small {
	font-size: 0.8em;
}
</style>
<div id="chat_box" class="row col-md-12">
	<div id="leftcol" class="col-md-2 well">
		<ul>
			<li ng-repeat="chan in chanlist"><a href="#/{{activeServer}}/{{chan.encName}}">{{chan.name}}</a></li>
		</ul>
		<ul>
			<li ng-repeat="user in otheruserlist track by $index"><a href="#/{{activeServer}}/{{user}}">{{user}}</a></li>
		</ul>
	</div>
	<div id="middlecol" class="col-md-8">
		<div id="chat" style="margin-bottom: 10px;height: 400px;overflow-y: scroll;overflow-x:hidden;" scroll-if>
			<div data-ng-repeat="m in chattab[activeChan].messages" scroll-item>
				<div class="row" ng-show="showDate($index, chattab[activeChan].messages)">
					<div class="col-md-10 info" style="text-align:center;">{{m.timestamp | date:'MMMM dd'}}</div>
				</div>
				<div class="row">
					<div class="col-md-1 font-size-micro">{{m.timestamp | date:'h:mma'}}</div>
					<div class="col-md-9"><strong>{{m.nick}}</strong> {{m.message}}</div>
				</div>
			</div>
		</div>
		<div class="well">
			<form ng-submit="sendCommand()">
				<input type="text" class="col-md-10" ng-model="ircCommand" placeholder="Type your message here" required/>
				<input type="submit" value="Send" />
			</form>
		</div>
	</div>
	<div  id="rightcol" class="col-md-2 well" style="height:400px; overflow-y: scroll;">
		<ul>
			<li ng-repeat="nick in members[activeChan].names"><a href="#/{{activeServer}}/{{nick}}">{{nick}}</a></li>
		</ul>
	</div>
</div>
