<style type="text/css">
.font-size-micro {
	font-size: 0.7em;
	font-color:gray;
}
.font-size-small {
	font-size: 0.8em;
}
</style>
<div id="chat_box" class="row col-md-12">
	<div id="leftcol" class="col-md-2 well" ng-controller="targetListCtrl" ng-include="'partials/targetlist.html'">
	</div>
	<div id="middlecol" class="col-md-8">
		<div  ng-controller="mainCtrl" ng-include="'partials/mainchat.html'">
		</div>
		<div class="row" ng-controller="commandCtrl">
			<form role="form" class="form-inline" ng-submit="sendCommand()">
				<div class="form-group col-md-10">
					<label class="sr-only" for="ircCommand">IRC command</label>
					<input type="text" class="form-control" id="ircCommand" placeholder="Type your command/message here"  ng-model="ircCommand" required>
				</div>
				<button type="submit" class="btn btn-default">Send</button>
			</form>
		</div>
	</div>
	<div  id="rightcol" class="col-md-2 well" style="height:100%;overflow-y: scroll;" ng-controller="MemberListCtrl" ng-include="'partials/memberlist.html'">
	</div>
</div>
